<form action="/auth/login" method="post">
  <p>username<input type="text" name="user[username]" /></p>
  <p>password<input type="password" name="user[password]" /></p>
  <input type="submit" value="login" />
</form>
